:root{
    --font-color: rgb(38, 43, 58);
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    user-select: none;
}
.hidden{
    display: none;
}

/* Sidebar */
.sidebar{
    width: max(350px, 20%);
    background-color: rgba(252, 247, 238, 0.829);
    display: flex;
    flex-direction: column;
}
.sidebarBtns{
    display: flex;
    flex-direction: column;
}
.sideBtn{
    background: none;
    width: 95%;
    font: normal 1rem Montserrat;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    border: none;
}
.sideBtn:hover{
    background-color: #ecffff;
}

.selected{
    background-color: #90d8d8 !important;
}
/*Project form*/
.projectForm{
    text-align: center;
    width: 90%;
    position: relative;
    left: 4%;
    border-radius: 10px;
}
.projectForm:hover{
    background-color: #eeee;
}
#projectName{
    margin: 5% 0;
    padding: 10px;
}
.newProjectBtn{
    cursor: pointer;
    margin: 0 5% 5%;
    padding: 5px 20px;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
}
.submit{
    background-color: rgb(92, 196, 92);
}
.submit:hover{
    background-color: rgb(132, 207, 132);
}
.cancel:hover{
    background-color: rgb(211, 65, 65);
}
.cancel{
    background-color: rgb(202, 42, 42);
}

.pContainer{
    padding: 0 5%;
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
    font: normal 1rem Montserrat;
    color: var(--font-color);
}
.pContainer:hover{
    background-color: #ecffff;
}
.pName:before{
    content: '# ';
}


/* New task form */
.modal{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}
.taskModal{
    padding: 1%;
    width: 26%;
    background-color: white;
    position: relative;
    left: 36%;
    top: 10%;
    border-radius: 10px;
}
.taskForm input,textarea{
    font: normal 1rem Montserrat;
    border-radius: 10px;
    padding: 1%;
    resize: none;   
}
.taskForm label{
    margin-top: 3%;
}
.formBtns{
    text-align: right;
    margin-top: 5%;
}
.formBtn{
    cursor: pointer;
    padding: 5px 20px;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
}
.submitTaskForm,.editTaskForm{
    background-color: rgb(92, 196, 92);
}
.submitTaskForm:hover{
    background-color: rgb(132, 207, 132);
}
.closeTaskForm:hover{
    background-color: rgb(211, 65, 65);
}
.closeTaskForm{
    background-color: rgb(202, 42, 42);
}
.formField{
    display: flex;
    flex-direction: column;
}

/*Tasks */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
}
.tasksContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(252, 247, 238, 0.829);
    width: 90%;
    height: 80%;
    max-height: 80%;
    margin: 2%;
    border-radius: 20px;
    overflow-y: auto;  
}
.newTaskContainer{
    width: 100%;
    text-align: center;
}
.newTask{
    cursor: pointer;
    font: bold 1.5rem Montserrat;
    width: 35%;
    border-radius: 10px;
    padding: 10px;
}
.newTask:hover{
    background-color: #b3b3b3;
}

.task{
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    word-wrap: break-word;
    
}
.task:hover{
    background-color: #ecffff;
   
}
.taskInfo{
    display: flex;
}
.taskText{
    margin: 0 30px;
}
.taskDesc{
    word-break: break-word;
}
.taskDate{
    margin-right: 20px;
}
.taskOptions{
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 10px;
}
.taskTitle{
    font: bold 1.3rem Montserrat;
}